@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.app-wrapper {
  padding: 0;
}

.app-header-wrapper {
  height: 20%;
  background: #1cc1ef;
}

.app-header {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
}

.form-wrapper {
  margin: 0 auto;
  width: 75%;
}

form {
  width: 100%;
  padding-bottom: 50px;
}

input {
  display: block;
  margin: auto;
  padding: 15px;
  border: none;
  background: #ffffff;
  width: 75%;
  height: 40px;
  border-radius: 5px;
}

.form-button {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  color: #1cc1ef;
  border: none;
  border-radius: 5px;
  font-size: 16px;

}

.body-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo-wrapper {
  padding-top: 175px;
}

.logo {
  display: block;
  margin: auto;
  width: 75%;
}

.rendered-image {
  display: block;
  margin: auto;
  height: 350px;
  max-width: 100%;
}

.canvas {
  display: block;
  margin: auto;
}
